@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

/** Body **/
body {
  background-color: #fefdfb;
  color: #343642;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-weight: bold;
}

p {
  color: #696e6e;
  font-size: 16px;
}


/** Navbar **/

.navbar-default {
  background-color: #1A374D;
  margin-left: -15px;
  margin-right: -15px;
}

.navbar {
  min-height: 80px;
  display: flex;
}


.navbar > div {
  margin: 0;
}

.navbar-nav {
  font-size: 18px;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
}

.navbar-default > .container-fluid {
  display: inline-flex;
}

.navbar-brand {
  width: 160px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

.navbar-nav>li {
  height: 100%;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #f1f6ff;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #f1f6ff;
  background-color: #406882;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  font-weight: bold;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #f1f6ff;
}


@media screen and (max-width: 768px) {
  .navbar-nav {
    font-size: 14px;
  }
}


/** Settings **/

[type=radio]:checked::before,
[type=checkbox]:checked::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #1A374D;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 10px;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}

.selectize-control {
  margin-bottom: none;
}

.settings .form-group:last-child {
  margin-bottom: 0;
}
